<div class="container-fluid m-0 p-0">
  <nav class="navbar py-1">
    <img src="./assets/shell_logo_d.png" alt="">
    <p class="m-0 mx-1">
      <span class="nav-brand text-white h5">Integrity Management System Application - IMSA</span><br />
      <span class="nav-brand text-warning h6">Shell Philippines Exploration B.V. - SPEX</span>
    </p>

    <p style="margin: auto auto;">&nbsp;</p>
    <div class="d-flex flex-column">
      <div id="menu" class="d-flex text-white justify-content-end">
        <span class="active">Modules</span>
        <span>Tools</span>
        <span>Help</span>
        <span>Hi User Name [id]</span>
      </div>
      <div id="sub-menu" class="d-flex text-white justify-content-end">
        <span>Anomaly</span>
        <span>Design Data</span>
        <span>Chemical Database</span>
        <span>Risk Based Inspection</span>
        <span class="active">Survey Data</span>
        <span>Freespan</span>
        <span>Reference Library</span>
        <span>Seismic</span>
      </div>
    </div>
  </nav>
</div>
