<div class="container-fluid m-0 p-0 flex-column">
  <nav id="nav-main" class="navbar p-0 px-2">
    <!-- left side of navigation bar -->
    <img src="./assets/shell_logo_d.png" alt="">
    <p class="m-0 mx-1">
      <span class="nav-brand text-white h5">Integrity Management System Application - IMSA</span><br />
      <span class="nav-brand text-warning h6">Shell Philippines Exploration B.V. - SPEX</span>
    </p>

    <!-- navigation bar middle spacer-->
    <p style="margin: auto auto;">&nbsp;</p>

    <!-- right side of navigation bar -->
    <div class="d-flex flex-column">
      <!--menu start-->
      <div id="menu" class="d-flex text-white justify-content-end">
        <span *ngFor="let m of menuList" class="{{m.active ? 'active' : ''}}"
          (click)="menuClick(m.id)"><i *ngIf="m.icon" [class]="m.icon + ' mr-1'"></i>{{m.label}}</span>
      </div>

      <!--sub menu start-->
      <div id="sub-menu" class="d-flex text-white justify-content-end">
        <span *ngIf="subMenu.length==0">&nbsp;</span><span *ngFor="let s of subMenu"
          class="{{s.active ? 'active' : ''}}" (click)="subMenuClick(s.id)">{{s.label}}</span>
      </div>

    </div>
  </nav>
  <div id="detail-container" class="card">
    <div *ngIf="false" class="card-header">
      <h1>Header</h1>
    </div>
    <div class="card-body p-0">
      <div id="pnl-top"></div>
      <div id="pnl-middle">
        <div id="pnl-left" [style.width]="this.panelSwitch.tree ? (treePanelWidth==-1 ? '' : treePanelWidth + 'px') :  '0px'">

          <app-tree-view *ngIf="true"  #mainTree [treeData]="ds.mainTreeData"
          (nodeClick)="TreeClick($event)"
          (nodePMClick)="TreePMClick($event)"
          [colorDefinitions]="ds.colorDefinitions"

          [rootId]="ds.rootNodeId" [nodeHeight]="22">
            <span class="text-center p-3">{{treeLoadingMessage}}</span>
          </app-tree-view>

        </div>
        <div [class]="'vsp' + (!this.panelSwitch.tree ? ' vspc' : '')" (click)="SeparatorClick('tree')"></div>
        <div id="pnl-center">
          <!--p>Tree Struc:&nbsp;<span>{{ds.tblTreeStruc.rows.length}}</span></p>
          <p>Nodes Attrib:&nbsp;<span>{{ds.tblNodesAttrib.rows.length}}</span></p-->
          <!-- Modules -->
          <app-anomaly [moduleId]="1" *ngIf="activeModule==1"></app-anomaly>
          <app-design-data [moduleId]="2"  *ngIf="activeModule==2"></app-design-data>
          <app-chemical-database [moduleId]="3" *ngIf="activeModule==3"></app-chemical-database>
          <app-risk-based-inspection [moduleId]="4" *ngIf="activeModule==4"></app-risk-based-inspection>
          <app-survey-data [moduleId]="5" *ngIf="activeModule==5"></app-survey-data>
          <app-freespan [moduleId]="6" *ngIf="activeModule==6"></app-freespan>
          <app-reference-library [moduleId]="7" *ngIf="activeModule==7"></app-reference-library>
          <app-seismic [moduleId]="8" *ngIf="activeModule==8"></app-seismic>
          <!-- Tools -->
          <app-user-management [moduleId]="9" *ngIf="activeModule==9"></app-user-management>
          <app-asset-management [moduleId]="10" *ngIf="activeModule==10"></app-asset-management>
          <app-survey-upload [moduleId]="11" *ngIf="activeModule==11"></app-survey-upload>

        </div>
        <div [class]="'vsp' + (!this.panelSwitch.info ? ' vspc' : '')"(click)="SeparatorClick('info')"></div>
        <div id="pnl-right"  [style.width]="this.panelSwitch.info ? (infoPanelWidth==-1 ?'' : infoPanelWidth +'px') :  '0px'">
          <ul class="list-group">
            <li class="list-group-item py-1 px-2">Asset:&nbsp;{{ this.ds.mainTreeCurrentNode.text }}</li>
            <li class="list-group-item py-1 px-2">URL:&nbsp;{{ this.ds.apiUrl }}</li>
          </ul>

        </div>
      </div>
      <div id="pnl-bottom"></div>

    </div>
    <div class="card-footer py-0 d-flex">
      <span [title]="NodePath">Path:&nbsp;</span><span id="node-path" style="overflow: hidden; text-overflow: ellipsis;">{{NodePath}}</span>
      <span class="sp">&nbsp;</span>
      <span>&nbsp;</span><!--Middle Footer-->
      <span class="sp">&nbsp;</span>
      <div class="d-flex">
        <div class="d-flex">

          <div id="view-cols" class="d-flex bg-light"  title="Arrange panels in columns">
            <div class="d-flex flex-column">
              <div></div>
              <div></div>
            </div>
            <div></div>
            <div></div>
          </div>

          <div id="view-rows" class="d-flex bg-light" title="Arrange panels in rows">
            <div class="d-flex flex-column">
              <div></div>
              <div></div>
            </div>
            <div class="d-flex flex-column">
              <div></div>
              <div></div>
            </div>
          </div>

        </div>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>
</div>
