

<div class="text-danger"><i class="fa fa-chevron-right text-primary"></i> Hello Text</div>
<p>Users: {{ds.tblUsers.rows.length || 0}}</p>
<p>User Params: {{ds.tblUserParam.rows.length || 0}}</p>
<p>Anomalies: {{ds.tblAnomalies.rows.length || 0}}</p>
<p>Reference Files: {{ds.tblRefFiles.rows.length || 0}}</p>
<p>Failure Threat: {{ds.tblFailureThreats.rows.length || 0}}</p>
<p>Lookups: {{ds.tblLookups.rows.length || 0}}</p>
<p>Locations/Equipment: {{ds.tblNodesAttrib.rows.length || 0}}</p>

<div id="ft" style="overflow-y: auto;max-height:250px;width:500px;" class="bg-light mt-1" *ngIf="ds.tblAnomalies && ds.tblAnomalies.rows.length">
  <div class="" *ngFor="let r of ds.tblAnomalies.rows;let i=index;" class="d-flex" (click)="AnomClick(r.AN_ID)">
    <div class="bg-primary text-center" style="width: 10%;">{{ r.AN_ID}}</div>
    <div class="bg-info" style="width: 90%;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;">{{r.AN_TITLE}}</div>
  </div>
</div>

<div id="rf" style="overflow-y: auto;height:250px;width:500px;" class="bg-light mt-1" *ngIf="ds.tblRefFiles && ds.tblRefFiles.rows.length">
  <div class="" *ngFor="let r of ds.tblAnomalies.GetLinkedRows('rf',currentAnomId);let i=index;" class="d-flex">
    <div class="bg-primary text-center" style="width: 10%;">{{ r.RF_ID}}</div>
    <div class="bg-info" style="width: 90%;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;">{{r.RF_DESC}}</div>
  </div>
</div>
