/* You can add global styles to this file, and also import other style files */
/* cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-weight: bold;
  src: url(/assets/fonts/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf);
}

body{
  //magrin:0 0 0 0;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
