@import "../../../../appcssvars.scss";

#tree-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100%;
  font-family: Roboto-Light;
  //background-color: red;

  #tree-toolbar {
    display: flex;
    height: $tree_ht_toolbar;
    background-color: $tree_bg_toolbar;
    border-bottom: $tree_border_toolbar;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding-left: 6px;
    padding-right: 6px;
    > div {
      font-family: Roboto-Light;
    }
    > div:last-child {
      margin-left: auto;
    }

    > div:nth-child(3) {

      input#search {
        margin-top: 4px;
        font-size: 0.8em;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 8px;
        padding-right: 8px;
        width: 150px;
        border: 1px solid $line_very_light_gray;
        border-radius: 10px;
      }
    }

    button {
      i {
        font-size: 0.8em;
      }
    }
  }

  #tree-view-port {
    display: flex;
    flex-direction: column;
    //background: moccasin;
    height: 100%;
    width: 100%;
    overflow: auto;

    div.current {
      background-color: $tree_bg_current_node;
    }

    div.node {
      white-space: nowrap;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -o-user-select: none;
      display: flex;
      > div:first-child {
        //background-color: lime;
        font-size: 1em;
        padding: 0px;
        padding-top: 2px;
        text-align: center;
        cursor: pointer;
        width: 12px;
      }
      > span.node-icon {
        //background-color: red;
        width: 18px;
        padding-top: 0px;
        margin-top: 0px;
        margin-right: 0px;
        text-align: center;
        font-size: 0.85em;
        > i.node-working {
          font-size: 1.6em;
          //color: $bs_default;
          color: darkolivegreen;
          //text-shadow:  gray 1px 1px 1px;
        }
      }
      > div.node-text {
        // node text
        //background-color: magenta;
        font-family: Roboto-Light;
        font-size: 0.85em;
        white-space: nowrap;
        cursor: default;
        padding-top: 2px;
        padding-left: 2px;
        margin-left: 0px;
        flex: 1 1 0;
      }
    }
  }
}
